/* Estilos para o cabeçalho */
.cabecalho {
    background-color: #008000; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto centralizado */
    font-family: Arial; /* Fonte */
}

/* Estilos para o título do cabeçalho */
#titulo {
    margin: 0; /* Remover margem padrão */
    font-size: 36px; /* Tamanho da fonte */
}

/* Estilos para a lista de informações de contato */
.informacoes-contato {
    list-style-type: none; /* Remover marcadores de lista */
    padding: 0; /* Remover espaçamento interno */
    margin-top: 10px; /* Margem superior */
}

/* Estilos para cada item da lista de informações de contato */
.informacoes-contato li {
    font-size: 18px; /* Tamanho da fonte */
}

/* Estilos para as seções */
.educacao,
.experiencia,
.habilidades,
.contato {
    margin-bottom: 20px; /* Margem inferior */
    font-family: Arial; /* Fonte */
    text-align: justify; /* Alinhamento do texto justificado */
}

/* Estilos para os títulos das seções */
.educacao h2,
.experiencia h2,
.habilidades h2,
.contato h2 {
    font-size: 24px; /* Tamanho da fonte */
    color: #0000ff; /* Cor do texto */
}

/* Estilos para as listas de itens */
.educacao ul,
.experiencia ul,
.habilidades ul,
.contato ul {
    padding-left: 20px; /* Espaçamento interno à esquerda */
}

/* Estilos para cada item da lista */
.educacao li,
.experiencia li,
.habilidades li,
.contato li {
    font-size: 16px; /* Tamanho da fonte */
    margin-bottom: 5px; /* Margem inferior */
}

/* Estilos para os campos do formulário de contato */
.contato input[type="text"],
.contato input[type="email"],
.contato textarea {
    width: 99%; /* Largura total */
    padding: 10px; /* Espaçamento interno */
    margin-bottom: 10px; /* Margem inferior */
    border: 1px solid #ccc; /* Borda */
    border-radius: 5px; /* Borda arredondada */
}

/* Estilos para o botão de envio do formulário de contato */
.contato button {
    background-color: #008000; /* Cor de fundo verde */
    color: #fff; /* Cor do texto branco */
    border: none; /* Remove a borda */
    cursor: pointer; /* Cursor do mouse em forma de mão */
    padding: 10px 20px; /* Espaçamento interno: 10px em cima e embaixo, 20px à esquerda e à direita */
    font-size: 16px; /* Tamanho da fonte */
    width: auto; /* Ajusta a largura do botão ao conteúdo */
    border-radius: 5px; /* Borda arredondada */
}

/* Estilos para o rodapé */
.rodape {
    background-color: #008000; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto centralizado */
    font-family: Arial; /* Fonte */
}

/* Estilos para o link do rodapé */
.rodape a {
    color: #fff; /* Cor do hiperlink */
    text-decoration: none; /* Remover sublinhado */
}
